{% extends "basetemplate.html" %}
{% block content %}
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center yellow-text"><i class="mdi-action-thumb-down"></i></h2>
                        <h5 class="center">The Problem</h5>

                        <p class="light">The world is not short of good intentions but its also not short of laziness. A
                            lot more people would like to donate blood but they dont because of the hassle involved
                            which in turn results in lost blood litres and hence lives</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center green-text"><i class="mdi-action-thumb-up"></i></h2>
                        <h5 class="center">The Solution</h5>

                        <p class="light">By utilizing the power of cloud and our on ground volunteers, Bluddy is able to
                            simplify blood donations so that you dont have to go anywhere. Bluddy volunteers come to you
                            and take your blood. They are well trained phlebotomists. You can just relax and watch a
                            movie in th comfort of your homes while you donate blood. Now that's simple</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="mdi-action-favorite"></i></h2>
                        <h5 class="center">The first step</h5>

                        <p class="light">Just click on the get started button and follow the instructions. After you
                            have been verified, you can then schedule an appointment. We thank you in advance for your
                            great service to society.</p>
                    </div>
                </div>
            </div>

        </div>
        <br><br>

        <div class="section">
            <div class="row center">
                <a href="/scheduler" id="download-button"
                   class="btn-large waves-effect waves-light light-blue darken-1 z-depth-4">Get Started</a>
            </div>
        </div>
    </div>


{% endblock %}